In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [15]:
#loading in the data sets
df_train = pd.read_csv("../Kaggle/train.csv")
df_test = pd.read_csv("../Kaggle/test.csv")

#### Investigating the Train data

In [16]:
print 'Shape of df_train', df_train.shape

Shape of df_train (4459, 4993)

In [17]:
df_train.head(4)

,ID,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000d6aaf2,38000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,000fbd867,600000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,0027d6b71,10000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,0028cbf45,2000000.0,0.0,0,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

In [18]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4459 entries, 0 to 4458
Columns: 4993 entries, ID to 9fc776466
dtypes: float64(1845), int64(3147), object(1)
memory usage: 169.9+ MB

In [19]:
#checking for null values
df_train.isnull().values.any()

False

In [25]:
df_train.nunique()

ID           4459
target       1413
48df886f9      32
0deb4b6a8       5
34b15f335      29
a8cb14b00       3
2f0771a37       6
30347e683      25
d08d1fbe3       6
6ee66e115       6
20aa07010     714
dc5a8f1d8      56
11d86fa6a      86
77c9823f2       2
8d6c2a0b2       7
4681de4fd     236
adf119b9a      76
cff75dd09      28
96f83a237      16
b8a716ebf     128
6c7a4567c      26
4fcfd2b4d       5
f3b9c0b95      20
71cebf11c      19
d966ac62c      40
68b647452      94
c88d108c9      10
ff7b471cd       5
d5308d8bc       1
0d866c3d7     125
             ...
cdfc2b069     243
2a879b4f7     120
6b119d8ce     175
98dea9e42       5
9f2471031       2
88458cb21      11
f40da20f4      12
7ad6b38bd      91
c901e7df1      85
8f55955dc       4
85dcc913d      60
5ca0b9b0c       2
eab8abf7a     113
8d8bffbae     193
2a1f6c7f9      27
9437d8b64     260
5831f4c76     301
2e84e09c5       2
d45fd5508      15
a165f5761      63
3ecc09859     103
9281abeea     119
8675bec0b     207
3a13ed79a      99
f677d4d13       2
71b203550      28
137efaa80      12
fb36b89d9      17
7e293fbaf      39
9fc776466      93
Length: 4993, dtype: int64

#### Investigating the test data set

In [20]:
df_test.head()

,ID,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000137c73,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00021489f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0004d7953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00056a333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00056d8eb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
print 'Shape of df_test', df_test.shape

Shape of df_test (49342, 4992)

In [22]:
df_test.head(4)

,ID,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
0,000137c73,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00021489f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0004d7953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00056a333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49342 entries, 0 to 49341
Columns: 4992 entries, ID to 9fc776466
dtypes: float64(4991), object(1)
memory usage: 1.8+ GB

In [24]:
df_test.isnull().values.any()

False